* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}



body{
    margin: 0 -1px 0px 0;

    @include desktop-only{
        margin: 0;
    }
}