$color-primary: rgb(11, 13, 20);
$color-secondary: rgb(208, 214, 249);
$color-tertiary: #FFFFFF;

$shadow-color: rgb(182, 182, 182);

$bkg-secondary: rgb(245, 245, 245);
$bkg-footer: rgb(73, 73, 73);

$font-dark: #575757;
