@use '../utils' as *;

.technology {
    min-height: 100vh;
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: url("/src/assets/technology/background-technology-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet-only {
        padding-bottom: 0;
        background-image: url("/src/assets/technology/background-technology-tablet.jpg");
        display: flex;
        flex-direction: column;
    }

    @include desktop-only {
        background-image: url("/src/assets/technology/background-technology-desktop.jpg");
    }

    &__page-title {
        text-align: center;
        margin: 0;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 1.2rem;
    
        @include tablet-only {
            text-align: left;
            margin: 30px auto 20px 30px;
            font-size: 1.5rem;
        }
    
        @include desktop-only {
            margin: 80px auto 0 170px;
            font-size: 1.7rem;
        }

        b {
            margin-right: 10px;
            color: grey;
        }
    }

    .technology__image {
        margin-top: 30px;
        width: 100%;
        height: 180px;
        object-fit: cover;
    
        @include tablet-only {
            height: 300px;
        }
    
        @include desktop-only {
            position: absolute;
            right: 0px;
            top: 30vh;
            margin: 0;
            max-width: 35vw;
            max-height: 70vh;
            min-height: 60vh;
        }
    }

    &__navigationAndText-container {
        @include tablet-only {
            margin-top: 35px;   
        }
    
        @include desktop-only {
            display: flex;
            max-width: 60vw;
            margin: 100px 0 0 160px;
        }
    
        .technology__navigation {
            margin-top: 25px;
            text-align: center;

            button {
                background-color: transparent;
                border-radius: 50%;
                height: 45px;
                width: 45px;
                margin: 7px;
                color: $color-tertiary;
                border: 1px solid grey;
                font-family: 'Barlow Condensed', sans-serif;
                font-size: 1.15rem;
                cursor: pointer;
            
                @include tablet-only {
                    height: 55px;
                    width: 55px;
                    font-size: 1.5rem;
                }
            
                @include desktop-only {
                    height: 100px;
                    width: 100px;
                    font-size: 2rem;
                    margin: 15px;
                }
            }

            #technology-nav-button--active {
                background-color: $color-tertiary;
                color: black;
            }
        }

        .technology__text-container {
            @include desktop-only {
                margin-left: 70px;
            }

            .technology__secondary-title {
                font-family: 'Barlow Condensed', sans-serif;
                color: $color-secondary;
                font-size: 1rem;
                text-align: center;
                margin-top: 20px;
            
                @include tablet-only {
                    margin-top: 40px;
                    font-size: 1.2rem;   
                }
            
                @include desktop-only {
                    text-align: left;
                }
            }

            .technology__name {
                text-align: center;
                margin-top: 5px;
                margin-bottom: 25px;
                font-size: 1.5rem;
            
                @include tablet-only {
                    font-size: 2.5rem;   
                }
            
                @include desktop-only {
                    text-align: left;
                    font-size: 3.1rem; 
                }
            }
            
            .technology__description {
                width: 90%;
                margin: auto;
                text-align: center;
                color: $color-secondary;
                font-size: 1.15rem;
                line-height: 1.2;
            
                @include tablet-only {
                    width: 64%;
                    font-size: 1.3rem;
                    line-height: 1.5;
                }
            
                @include desktop-only {
                    text-align: left;
                    margin: 0;
                }
            }
        }
    }
}